{% extends 'base.html.twig' %}

{% block title %}Connexion Staff{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Vous êtes employé par le Zoo ?</h1>
            <p class="text-center">Connectez-vous</p>
            <form action="{{ path('login_check') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Entrez votre nom d'utilisateur" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Entrez votre mot de passe" required>
                </div>
                
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark btn-lg">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}