{% extends 'base.html.twig' %}

{% block title %}Merci{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header text-white" style="background-color: #2A9D8F;">
                        <h1 class="mb-0" style="color: #FFFFFF;">Merci pour votre message !</h1>
                    </div>
                    <div class="card-body text-center">
                        <p class="mb-4">Nous avons bien reçu votre message et vous répondrons dans les plus brefs délais.</p>
                        <a href="{{ path('app_contact') }}" class="btn text-white" style="background-color: #2A9D8F;">
                            Retourner au formulaire de contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
