{% extends 'base.html.twig' %}

{% block title %}Tous les Habitats{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Découvrez Nos Habitats</h2>
    
    <div class="row">
        {% for habitat in habitats %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    {% if habitat.images is not empty %}
                        <img src="{{ asset('uploads/habitats/' ~ habitat.images[0]) }}" class="card-img-top" alt="{{ habitat.nom }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ habitat.nom }}</h5>
                        <p class="card-text">{{ habitat.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
